body{
  overflow-x: hidden;
}

div.header{
  position:fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  text-align:center;
  background-color: #FFFFFFAA;
  padding: 5px;
}
div.header input{
  font-size: medium;
}
div.header div.push{
  cursor:pointer;
}
div.header div,table.helptable tr td div.icon{
  float:left;
}

div.header div#peoplecount{
  font-size: small;
  padding: 3px;
}

div.icon{
  width:16px;
  height:16px;
  margin:4px;
}
div.icon.people{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAalJREFUOE+lkz1oVEEUhc/ZHxAsIlrZ2AQLm1QBsRDslp37FDYiImlUVJA0IoGUYikGsbExRWxEUsQFfXeWbUPAJpWFXSxsUsWfQhD28Y7Mshse6wbRTDM/98w3c8/MJY7YOG1/p9M5NRgMbkhaTXGSy81m8023292f1E8FhBBuJmGM8VXqJ+dVyAGg3W7P9nq93RQ0s5/ufrwqrK5VtUOAmb0F8AvAdZKXJc0WRfG63+9/TfFWq3Wy0WgsktyV9B7ABoBj7r7AEMJ5khfc/XkSZ1m2VqvVnhRFsUny9ugWO/V6/WxZlit5nt8dHfpA0gdmWXZJUubuy6N8H8UYH4/HIy8O5uOYma2SzMcpvCB5S1JTUofkHoCdCcfnJZ0m2SU5kLTu7ktDQAhhieR9SZ9jjFfMTACuunvyJnm0AGDT3VPK70iek/QyxviUZvYdwKeyLO+QbJF8RvJenudr1RukpyS5LukhyS0AKwCuJYASeSw2sx/uPjPtg03R6g9ACOFLjPHMfwPM7KO7z/0TYEK87e4XDwP8tRbM7BuAE4cVadWvYaEdsZrxG5G72Kq/BL1bAAAAAElFTkSuQmCC);
}
div.icon.search{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAaNJREFUOE+Vki+IVFEUxn9nmCCbRE0LioImi0FRDIplwjuvuOiGtYhYFASLWa0q2DQJFjcouGW+O8xoMGoQLQYRRFa0CFqFYd6VO7z7eDszi+xN9885v/Odez6jtYqiWDOzNeAosNvM3lRV9TGEcLcd195bPrj7c+Biff4FfAWOAHuAnzHGlRDCu1nQFNBK/lRV1dXBYPC2BX4EXEtnSU3B/G617GdASl7tdDongMuSzuWgsizPxxhfAg8k3drSgrv3kwgzO51kArsk3ZiV6u6vgMOSDm0BFEWxaWZLkva5e1wks27zCXBlPB4fGI1G35sW3P0P8FnSqe1+ugY8BG4CxyW9bwBlWW7EGM9I2vsfwAfgWJqKpFR0utIn3jazO8BjSdcXQXJMjHE9hHBpzgfu/gNYNrOVfr+/MWOuXCBdl5I0ByiK4qSZ5dm/BjaBv8DZ2pUpZzUnSnrRtNCmuft94AJwMN8n2Wa2DiwBya1TWIbMOSu99nq9/d1ud3kymXwZDoe/6ykkm2dAA1kI2G4a7j4H2RFggZJvOwa0IPdijE//AdBTpGQKaS3TAAAAAElFTkSuQmCC);
}
div#search_prev{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAJhJREFUOE+1kzEOwyAMRf2vB3My9wTZMzU9QrecoVmBsVdz5CpURLFJJBRm3vNDAKhxoZGnewXOuacUppReVqlZIDCASUBmniyJKijhPNmSHAQaXJPsBAq8bHBnSf4CDY4x9gJ67z9EpEp+ghqcJ1sSXIFrEhEMAN7bpiVnW/deljDzmI/wAODO4LIEwDeEMN/7lK98tOaCFUWSXMRcG8VcAAAAAElFTkSuQmCC);
}
div#search_next{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAKpJREFUOE+tkjEOwjAMRf2v58wwcwJ2JsIR2DgDXZOMXM3IVVKFNi6R0i5RJb/nH8egwQ+DPB0jYOYLAI4xnnsSOefeAD4hhBeY+QrgmcHpn0RhIjppvYjcVHAH4KvOpqSGs8DPM+iRtOCU0mMZ4p7EgrX5zyu0JPlq851LbO1c/jfP2JAs4xERX8ObBKWyJWnBpmA9WAveFRSJnuvY9bIds8o962vVDCf4Aq3WXMTRz30uAAAAAElFTkSuQmCC);
}
div.icon.help{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAhNJREFUOE+VUz1oFFEQ/ma93VqMPyAWgn9oJQjGRjHFcey+Z3GioCCCCipYKQQVhCQgWAhaqUljoYJixDvOnV0OmzM2RhBsVPAHLGz8iaS+W3ZkwtuwbK7xwdth5s18b+Z93xIqKwzDTURUB7DXWYjISwBv1aZp+qNcQmXHGHMLwEkAIy7+ydmdzi4AeMDMl4q6ZQBjjLjgNyIa931/rtVqaQGazebIYDA4ICI3AWzRGDMv1S59jDHHADwWkckkSaaqY5X9KIomiGgSwHFmfkKNRmNNrVZ7B+AnM+8rko0xdwAcBfABwF1mni2dvQGwIcuyPWSMOQtgRkQOJUkSa5K19qCITIhIj4h26G1ENBbHcU/PoyiyRPQCwDkFeAjgRJ7n69M0/T2sfX2fMkAYhus8z/sF4JECfAfQZ+bt1WJjjI5wGcAq3/fH2u32YmmMzwACBfjqAHYNAVBmenmeX0jT9GOFcvUDiqLoHhGdD4JgbUFbkagvLiKz1WKltd/v/xGRaQU4RUT3iehwHMet0i2etfap53lXOp2Odrm8rLVNEXkuIqdJpet53nsAi8y8tciq1+sbgyB4JSJnkiSZq7SvgKvzPN9dCEklfPE/hXRbJT1MyvMicl1E5gtalTYiGiWiawBGV0i5RI1K+gaAzS72xdltzirlV1XCK36mIuCkfQTAfrf16LXuLMuedbvdv+X3+Ac2XevspG7WjwAAAABJRU5ErkJggg==);
}
div.icon.download,
div.dlbtn span.download span{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAANZJREFUOE/VUzEOgkAQnIXafxgfYC3Ghgyhs/ELlvoMLf2CjR3hQmPU2gcY/0ENZ9DDIN4VqI1X3s7Ozc7cCr484uoPw3Dged6mqpdlOc+y7GLDOgmiKBpprY9Vk4gEaZqe/oTASB8D6AOYGtk7AFcRObRHefMgjuNeURR7AMPWzGff9ydJkuTNe6uJTQNrsMtIZwokFwBWhmCplFpbUyB5j0opFbQBJLemNrPUHhGT1AbkVGN7ue77HUFlUpe1eP7SWkqX5pcYSVYLM/iEQGuddzLO9sgNEHJiwVM47UwAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
}
div.icon.save{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAALpJREFUOE/tk70RwjAMhd8bgTloGCG0VlpYB/ahjS8l6ShpCHMwQcQpwT4TQy4clKixrZ/PsizRObcjuQGwBADvPW0N4pxbkTwHm4hcuq7b1nV9NR1F5AigCAETgJv3fiEiCqANEAOYIsobgF1i2QWAHXtIBiC5ToHjvar2sIecMsBU8CvbzwHNzAxi0Z8ysPdXVTUJKcuySOvwBwytHDvx6yKq6n7ON5KMftkwzQEkPg3H4/wBoFXVwx3Ywod6/tqivQAAAABJRU5ErkJggg==);
}

span#search_result{
  position:fixed;
  top: 12px;
  right: 85px;
  z-index: 100;
  text-align:right;
  padding: 5px;
  color: #AAAAAA;
}

div.footer{
  position:fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  text-align:center;
  width:100%;
}

#foottable{
  width: 100%;
}

#foottable tr td{
  vertical-align: bottom;
}

#sound{
  width: 300px;
}

div.footer tr td.check{
  white-space: nowrap;
}
div.footer tr td.orgmedia,
div.footer tr td.orgmedia audio{
  width: 100%;
}



span.check{
  margin-bottom: 10px;
  background-color: #AAFFFFCC;
}
div.loading{
  position:fixed;
  bottom: 5px;
  right: 10px;
  z-index: 100;
  background-color: #AAFFFFCC;
  padding: 5px;
  font-family:monospace;
}

table.main{
  width: 100%;
  border-spacing: 0;
  margin-bottom: 80px;
}

table.main tr.highlight{
  background-color: #FFFFAAFF;
}

table.main tr.line:hover{
  background-color: #AAFFFFAA;
}

table.main tr.current , table tr.line.current:hover{
  background-color: #BBFFBBAA;
}

table.main th, table.helptable th{
  border-bottom: solid 2px #fb5144;
  padding: 10px 0;
  background-color: white;
  text-align:left;
}

table.main td, table.helptable td{
  border-bottom: solid 2px #ddd;
  text-align: left;
  padding: 10px 10px;
}

table td.name, table td.time, table th{
  white-space: nowrap;
}

table td.time{
  width: 100px;
}
table td.name{
  width: 200px;
}

table td{
  text-align: left;
}

table td.play, table td.prev, table td.next{
  background-position:center center;
  background-repeat: no-repeat;
  cursor:pointer;
}
table td.play{
  width: 15px;
#  background-image: url("play.png");
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAA1ZJREFUWEfNl1uITlEUx/9rf9NMKSQ8UHJ5GHkUD16IzNNZxwi5RDy5RHniwd2QS0KRIpcnRe5lnHWaMiJePBgeZZRxKR7QuETNNN9Z2vrOtOfMOd93vm+EXefl7HX5tfdae/83Iedobm4eHkVRUxRFy40xjVEUjSGi0dZdVT8bYz5FUdRpjLlqjGlvbW39nic0VTJi5mkANgNYAWBUJfvSfDeAKwBOicjzcj5lAZj5QCn5iJyJk2bfShC7svwzAZj5IYDZNSZOuj0SkTlpsVIBmPkjgDEpDp0A7hBREEXR+7q6ug/Wpq+vb5wxZryq+gAWAGhM8f0kImOT/wcBMHMXgEkJww4A50TkXJ4VYeb1AOw3I2H/WkQmu/8GADDzNQBLE07XRWRZnsRJmzzx+gFKBbfTDaKqLWEY7qsleezjed5eImpJxDgoIr8L8zdAqdUeA+ivdlU9HIbhjqEkdyAOEdF2J5btjlm2RWOA0wA2OgYdIjLzTySPYzDzk0RNnBGRTdTU1DSyoaHhDYCRTsINWQXHzEtV9UsYhnerASwV5lnH52tPT89E8jxvNRFddCa6RGRKVnBnT08Xi8WjbW1tr/OCMPMrAP1doKprLMANIloSByGiC0EQrMsBYE26iWhfEAQn80D4vn9eVdfGtqp6k3zff6qq0x2AeUEQPMgJEJt1ENGeIAjCciC+789V1ftOrmd2Bd4S0QSHamoYhvbESx0ZbRXbXieinUEQvExz9jyvkYheOLneETP/ADAs/lkoFEaUu0orAMRhjojItiSEvdKLxaJtwXj8rBqAmfcD2F1hz/MDVLsFFQCq34JqizADwF5We0VEainCK0S03HE8LiJbswIlAKzy2S8iJ/K0ITMfA7DFKcKrtg0XqeotJ0CniEzNAVDLQWQ7oF8rENFiKlWmPYpdvfc3juLuQqEw8d9fRnap065jADULkeT2pQiTgddxCcIq4H8jSGLiNCU8FGHieV5SiNhUAxRymihNU8R/SpQOUsZZsjxNGVv6LiK6B+BSmiwHsEpV57t3vlMPgxSxnSv3MElTyHnOmzSbzIL+f59mTmHGj9OVCd1YbjW+Arg85Mepm8GK1/r6+mYAC40xUzKe51bz3e7t7W1tb2+3EBXHLwIgyhLsql7ZAAAAAElFTkSuQmCC);
}
table td.prev{
  width: 10px;
#  background-image: url("prev.png");
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAALhJREFUWEfN1zsOgCAQhGE4H7UeUmruZ0igIYHdZWdQWx//FxozMRCulNITQsillCx9PkoPWO+3+NXeuyUEFDDEu32JgAEmcREBAQjxJcIN8MSrzAXwxl0ARHwbgIpvAZBxMwAdNwEYcTWAFVcBmHERwI4vASfi/wZU3YlTEP8FbIQIYJ+ECsBEqAEshAnAQJgBaMQWAInYBqAQLgAC4QZ4ERCAAjFdRzDAAnFmmvX58+k4HRCqef4Cic6gIdiV8DgAAAAASUVORK5CYII=);
  background-size: 50%;
}
table td.next{
  width: 10px;
#  background-image: url("next.png");
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAMRJREFUWEfV11EKgCAQhGE7n891yHr2fiEYhGS7O84E9Sz8H7aVLclx5ZzXlNJaStkcy0NLFmt1i+9t3cFGvAK6+GWlIoaAQZyOeAQYcSoC3QEaApmBfm6nZiL6FIweGhhhAmpRORMugBLhBqgQIYACEQawERCAiYABLMQUgIH4N4DxgoJ3gBGvtxACsOIQgBkPA9jxEEARdwNUcRdAGTcB6vgr4Iv4EPBVfGYH4ENof6pFjuW0uDmED59batwFuCEkv+cnoGWeIaNPs7sAAAAASUVORK5CYII=);
  background-size: 50%;
}
table td.text:hover{
#  background-image: url("copy.png");
#  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAm1JREFUWEfdl7GL1EAUxr832UL/gLUUbWyusfYs9rBKJlvJKmKjYCWH4BW2d5ZaaSFWhxw2Yppd2JdsI3diY+c12ikedoqg2OlmRiYkkIubZLKJKLdl8ma+337ve2GGYPGTUkoAVwBctShPSogoAnB/Op3uVa2hug2llCMAzwG8BbCitd6qW5MCmLo9Zl5bGiAvTkTrWutdZq6FNoK+7w9s6ks3y4srpS45jnPCZsPs37YCKIpHUfTOdsNFAGated7r9fbH4/G3fEv+cGCReBNLSwAeaq1vAfgBYJuZb2d1hwDKxIsAvu+fnM/nx4vhchznFzN/WFCfOKCUOkVET4hoLZuOIsCBoTQ9N7bnBaSUNwE8MiF0XfeyEOLZgnTfYObtKseklNpMUhiGd5NpyTbxPO8iEZmHX0rG5gyAA2Y+Z96PRiOnWBcEgQKglwXYJKItY0/Z3MZx/LnoTFltWWirHEgAbOe87mPUCYDneRt1QodGiugrM++0akHeASnlKwDn0+96KYvW2k1ftgrh/9eCJvYXazvJwD8HyDKQgryoALrwVzLg+/56ExeUUt/DMHza2RQ0ET+aGRgMBseauNDv91UQBD87a0EhhDYs3X6IhsPhaRvVrEYIMZ9MJp86c6CJ+JEI4VkieqO1vi6E+Njm35u1SqkNInqfP/+Z56XngbRvj7XW1wA0Sv8iWCJ6HcfxvSiKxvn3lQCm0HXdvuM4K20dKLuS1QIUhT3P2xRCvKy749kCNwYwC/LHaFuhsrplAHYBmHue1aW0CpCITGtX4zhenc1mSdBrL5rptepO7tjVxoR9ADvM/CDb5DdKb5U/0qftvAAAAABJRU5ErkJggg==);
  background-position:right 15px center;
  background-repeat: no-repeat;
}
table td.text {
  padding-top:0px;
  padding-bottom:0px;
}

table td.text{
  position: relative;
}
table td.text div.text{
}
table td.text span.engine {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size:x-small;
  color:#777777;
  margin-bottom:-2px;
}

input#editting_input{
  width: 80%;

  background-color: #00000000;
  font-size: medium;
  border-width: thin;
}
input#editting_input:focus{
  outline: none;
}

select#editting_select{
  width: 15%;
  margin-left: 1%;

  background-color: #00000000;
  font-size: medium;
  border-width: thin;
}

table td.score{
  text-align: right;
}

label span{
  user-select: none;
}

div#projectsetting{
  width: 500px;
}
table#peopletable td,
table#peopletable th{
  border-bottom: solid 2px #ddd;
}
table#peopletable p.orgfile{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 230px;
}

div.movieThumbnail{
  position:fixed;
  bottom: 70px;
  right: 10px;
  z-index: 99;
  text-align:center;
}
video#movieThumbnail{
  width:100px;
  cursor:pointer;
}
video#movie{
  width:100%;
  height:100%
}

table#peopletable td.name input{
  width: 180px;
}

div#help div{
  float:left;
  margin: 0px 15px;
}
div#help div.about{
  position:absolute;
  bottom:5px;
  right:10px;
}

div#draggable{
  height: 98%;
  width:99%;
  background:#99999999;
  z-index:101;
  position: fixed;
  border-style:dashed;
  border-width:2px;
}

span#draggable_close{
  position:fixed;
  right: 1em;
  top:1em;
  width: 1.5em;
  height: 1.5em;
  border-style: solid;
  background: #EEEEEE;
  text-align:center;
  font-size: small;
  border-width: 2px;
  cursor:pointer;
}

span.caption{
  font-weight:bold;
  font-size:large;
}

div.group{
  border-bottom: solid 2px;
}
div.dlbtn{
  text-align: right;
  margin-top: 8px;
  margin-bottom: 4px;
  margin-right: 4px;
}
div.dlbtn span.download{
  border: solid 1px #777777;
  padding: 4px;
  cursor:pointer;
}
div.dlbtn span.download:hover {
  background-color: #eeeeee;
}
div.dlbtn span.download span {
  padding-left:24px;
}
